app/views/userDataView.html
<span ng-model="error"></span><div ng-show="hasWorkshopRegistration" class="tabs"><span ng-class="{'active': activeTab === 0}" ng-click="activeTab = 0" class="tab">Workshops</span><span ng-class="{'active': activeTab === 1}" ng-click="activeTab = 1" class="tab">Pers&ouml;nliche Daten</span></div><div ng-show="activeTab === 0" class="tabContent"><form ng-submit="saveWorkshopToEdit()"><div ng-show="workshops.length &gt; 0"><h3>Eingereichte Workshops:</h3><ul class="plain"><li ng-repeat="workshop in workshops" class="workshopList"><div><h4>{{workshop.title}}</h4></div><div class="term"><div>Uhrzeit:</div><span ng-repeat="time in workshop.terms.times">{{time.name}}</span></div><div class="term"><div>Methode:</div><span ng-repeat="term in workshop.terms.methods">{{term.name}}</span></div><div class="term"><div>Themengebiet:</div><span ng-repeat="term in workshop.terms.topics">{{term.name}}</span></div><br class="clear"/></li></ul></div><h3>Neuer Workshop:</h3><div ng-model="workshopToEdit" class="editPane"><label labelfor="workshoPTitle">Titel:</label><input type="text" name="workshopTitle" ng-model="workshopToEdit.title" ng-required="true"/><label>Kurzbeschreibung f&uuml;r das Programmheft (ca. zwei S&auml;tze):</label><textarea ng-model="workshopToEdit.content_raw" ng-required="true" class="full"></textarea><label>Interne Workshopbeschreibung f&uuml;r die Planung (Was willst du machen?):</label><textarea ng-model="workshopToEdit.customFields.InterneBeschreibung" ng-required="true" class="full"></textarea><label>Anforderungen an den Raum (optional):</label><textarea ng-model="workshopToEdit.customFields.RaumAnforderungen" class="full"></textarea><label>Wunsch f&uuml;r Materialien (optional):</label><textarea ng-model="workshopToEdit.customFields.MaterialWunsch" class="full"></textarea><label>Maximale Anzahl der Teilnehmer (optional):</label><input type="number" name="workshopTitle" ng-model="workshopToEdit.customFields.MaxTeilnehmer"/><label>Anzahl der Durchführungen (So oft möchte ich diesen Workshop halten):</label><input type="number" name="workshopCount" ng-model="workshopToEdit.customFields.AnzahlDurchfuehrung" ng-required="true"/><div class="term"><div>Wunschzeitpunkt(e):</div><span ng-repeat="time in times" ng-class="{ checked: hasItem(time, workshopToEdit.terms.times) }" ng-click="toggleItem(time, workshopToEdit.terms.times)" title="{{time.description}}">{{time.name}}</span></div><div class="term"><div>Methoden:</div><span ng-repeat="term in methods" ng-class="{ checked: hasItem(term, workshopToEdit.terms.methods) }" ng-click="toggleItem(term, workshopToEdit.terms.methods)" title="{{term.description}}">{{term.name}}</span></div><div class="term"><div>Themengebiet:</div><span ng-repeat="term in topics" ng-class="{ checked: hasItem(term, workshopToEdit.terms.topics) }" ng-click="toggleItem(term, workshopToEdit.terms.topics)" title="{{term.description}}">{{term.name}}</span></div><br class="clear"/><label>Was ich noch sagen wollte... (optional):</label><textarea ng-model="workshopToEdit.customFields.Feedback" class="full"></textarea></div><div class="agv-button-set agv-button-set--right"><button class="agv-button agv-button--primary agv-button--large">Neuen Workshop anlegen</button></div><br class="clear"/></form></div><div ng-show="activeTab === 1" class="tabContent"><form id="userDataForm" ng-submit="saveUser()" class="single"><label>Vorname:</label><input type="text" ng-model="firstName" ng-required="true" placeholder="Vorname"/><label>Nachname:</label><input type="text" ng-model="lastName" ng-required="true" placeholder="Nachname"/><label>PLZ:</label><input type="text" ng-model="zip" ng-required="true" placeholder="PLZ"/><label>Telefon:</label><input type="text" ng-model="phone" ng-required="true" placeholder="Telefon"/><label>Beruf / Studium / Ausbildung (optional):</label><input type="text" ng-model="job" ng-required="false" placeholder="Beruf / Studium / Ausbildung"/><label>In welche Gemeinde gehst du? (falls zutreffend):</label><input type="text" ng-model="church" ng-required="false" placeholder="Heimatgemeinde"/><label>Kontaktm&ouml;glichkeit zur Gemeinde (falls zutreffend):</label><input type="text" ng-model="churchContact" ng-required="false" placeholder="Kontaktmöglichkeit zur Gemeinde"/><label>Erfahrung mit den Workshopthemen:</label><textarea ng-model="experience" ng-required="true" placeholder="Erfahrungen"></textarea><label><input type="checkbox" ng-model="community_optin"/>Ich geh&ouml;re nicht zur Jesus Freaks Bewegung.</label><div class="agv-button-set agv-button-set--right"><button ng-hide="hasWorkshopRegistration" class="agv-button agv-button--primary agv-button--large">Workshops anmelden</button><button ng-show="hasWorkshopRegistration" class="agv-button agv-button--primary agv-button--large">Daten speichern</button><br class="clear"/></div></form></div><div ng-repeat="message in messages" class="animate-repeat"><p class="message">{{message}}</p></div><div ng-repeat="error in errors" class="animate-repeat"><p class="error">{{error.message}}</p></div>

app/jade/userDataView.jade
span(ng-model='error')
.tabs(ng-show='hasWorkshopRegistration')
  span.tab(ng-class="{'active': activeTab === 0}", ng-click='activeTab = 0') Workshops
  span.tab(ng-class="{'active': activeTab === 1}", ng-click='activeTab = 1') Pers&ouml;nliche Daten
.tabContent(ng-show='activeTab === 0')
  form(ng-submit='saveWorkshopToEdit()')
    div(ng-show='workshops.length > 0')
      h3 Eingereichte Workshops:
      ul.plain
        li.workshopList(ng-repeat='workshop in workshops')
          div
            h4 {{workshop.title}}
          .term
            div Uhrzeit:
            span(ng-repeat='time in workshop.terms.times')
              | {{time.name}}
          .term
            div Methode:
            span(ng-repeat='term in workshop.terms.methods')
              | {{term.name}}
          .term
            div Themengebiet:
            span(ng-repeat='term in workshop.terms.topics')
              | {{term.name}}
          br.clear
    h3 Neuer Workshop:
    .editPane(ng-model='workshopToEdit')
      label(labelfor='workshoPTitle') Titel:
      input(type='text', name='workshopTitle', ng-model='workshopToEdit.title', ng-required='true')
      label Kurzbeschreibung f&uuml;r das Programmheft (ca. zwei S&auml;tze):
      textarea.full(ng-model='workshopToEdit.content_raw', ng-required='true')
      label Interne Workshopbeschreibung f&uuml;r die Planung (Was willst du machen?):
      textarea.full(ng-model='workshopToEdit.customFields.InterneBeschreibung', ng-required='true')
      label Anforderungen an den Raum (optional):
      textarea.full(ng-model='workshopToEdit.customFields.RaumAnforderungen')
      label Wunsch f&uuml;r Materialien (optional):
      textarea.full(ng-model='workshopToEdit.customFields.MaterialWunsch')
      label Maximale Anzahl der Teilnehmer (optional):
      input(type='number', name='workshopTitle', ng-model='workshopToEdit.customFields.MaxTeilnehmer')
      label Anzahl der Durchführungen (So oft möchte ich diesen Workshop halten):
      input(type='number', name='workshopCount', ng-model='workshopToEdit.customFields.AnzahlDurchfuehrung', ng-required='true')
      
      .term
        div Wunschzeitpunkt(e):
        span(ng-repeat='time in times', ng-class='{ checked: hasItem(time, workshopToEdit.terms.times) }', ng-click='toggleItem(time, workshopToEdit.terms.times)', title='{{time.description}}')
          | {{time.name}}
      .term
        div Methoden:
        span(ng-repeat='term in methods', ng-class='{ checked: hasItem(term, workshopToEdit.terms.methods) }', ng-click='toggleItem(term, workshopToEdit.terms.methods)', title='{{term.description}}')
          | {{term.name}}
      .term
        div Themengebiet:
        span(ng-repeat='term in topics', ng-class='{ checked: hasItem(term, workshopToEdit.terms.topics) }', ng-click='toggleItem(term, workshopToEdit.terms.topics)', title='{{term.description}}')
          | {{term.name}}
      br.clear
      label Was ich noch sagen wollte... (optional):
      textarea.full(ng-model='workshopToEdit.customFields.Feedback')
    div.agv-button-set.agv-button-set--right
      button.agv-button.agv-button--primary.agv-button--large Neuen Workshop anlegen
    br.clear
.tabContent(ng-show='activeTab === 1')
  form#userDataForm.single(ng-submit='saveUser()')
    label Vorname:
    input(type='text', ng-model='firstName', ng-required='true', placeholder='Vorname')
    label Nachname:
    input(type='text', ng-model='lastName', ng-required='true', placeholder='Nachname')
    label PLZ:
    input(type='text', ng-model='zip', ng-required='true', placeholder='PLZ')
    label Telefon:
    input(type='text', ng-model='phone', ng-required='true', placeholder='Telefon')
    label Beruf / Studium / Ausbildung (optional):
    input(type='text', ng-model='job', ng-required='false', placeholder='Beruf / Studium / Ausbildung')
    label In welche Gemeinde gehst du? (falls zutreffend):
    input(type='text', ng-model='church', ng-required='false', placeholder='Heimatgemeinde')
    label Kontaktm&ouml;glichkeit zur Gemeinde (falls zutreffend):
    input(type='text', ng-model='churchContact', ng-required='false', placeholder='Kontaktmöglichkeit zur Gemeinde')
    label Erfahrung mit den Workshopthemen:
    textarea(ng-model='experience', ng-required='true', placeholder='Erfahrungen')
    label
      input(type='checkbox', ng-model="community_optin")
      | Ich geh&ouml;re nicht zur Jesus Freaks Bewegung.
    div.agv-button-set.agv-button-set--right
      button.agv-button.agv-button--primary.agv-button--large(ng-hide='hasWorkshopRegistration')
        | Workshops anmelden
      button.agv-button.agv-button--primary.agv-button--large(ng-show='hasWorkshopRegistration')
        | Daten speichern
      br.clear
.animate-repeat(ng-repeat='message in messages')
  p.message {{message}}
.animate-repeat(ng-repeat='error in errors')
  p.error {{error.message}}
